.navbar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 2px solid var(--primary_color) ;
    padding-top: 1rem;
    line-height: 3rem;

    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #14141F;
    margin-bottom: 4rem;
    width: 100%;
    
   
}

.navbar:hover{
    
}

.nav__navbar{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
  
   
  
}
.nav__navbar ul{
    list-style-type: none;
    padding-top: 1.7rem;
    
}
.nav__navbar ul li{
     display: inline;
     padding-right: 1.5rem;
     
}
.nav__navbar ul li a{   
    color: white;
    text-align: center;
    text-decoration: none;       
}


 
.nav__search{  
   padding-top: 1.8rem; 
  
}
.nav__wallet{
    font-size: 1rem ;  
    padding-top: 0.5rem; 
  
}
.nav__wallet i{
    padding-right: 1rem; 
     
}
.nav__nl{
    
}
.nav__nl img{
  background-color: var(--primary_color) ;  
  padding: 0.5rem;   
  margin-top: 1rem;
  border-radius: 1rem;
  width: 3rem;

  
}

.signin{
  background-color: var(--primary_color) ;  
  color: white;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  
  
  
}
