.hero{
  
 margin-top: 2rem;
 display: grid;
 grid-template-columns: auto 1fr 1fr;
 
}
.hero__item--stiky{
  display: flex;
  flex-direction: column;
}
.vertical-social {
     background: #14141F;
     display: flex;
     flex-direction: column;
      opacity: 0.3;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
      margin-left: 30px;
      border-radius: 40px;
      padding: 30px 10px;
      z-index: 999;
      transition: 1s;
      display: -ms-flexbox;
      -ms-flex-align: center;
      align-items: center;
      box-shadow: 0px 4px 13px 0 rgba(168, 67, 253, 0.3);
      overflow: hidden;
      border-bottom: 3px solid #a843fd;

  
      
}
.vertical-social i{
  font-size: 1.5rem;
  padding-bottom: 3rem;
  color: white;


}
.vertical-social i:hover{
  color: var(--secondry_color);
}
.vertical-social:hover{
  opacity: 100;
  

 
  
}


.hero__left{ 
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    line-height: 6rem;
    margin-left: 6rem;
   
    
}
.hero__title h1{
    font-size: 5rem;
    margin-top: 12rem;
}
.hero__title span{
  
    color: var(--secondry_color);
}


.hero__right{
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding-top: 8rem;
}
.button__hero{
    margin-left: 54px;
}
.button__hero i{
  padding-right: 1rem;
}
.hero__image2{
  position:absolute;
  left: 0.1rem;
  
  z-index:3;
  top: 26rem;
 
  animation-name: shape;
  animation-duration: 8s;
  animation-iteration-count: 200;

  
  
}
.hero__image1{
    width: 200px;
    left: 18rem;
    bottom: 5rem;
    
    
    position: absolute;
    z-index: 2;
}
.hero__shape{
    left: 2rem;
    z-index: 1;
    box-shadow: rgba(149, 80, 229, 0.15);
    transform: rotate(142.57deg);
    animation-name: shape;
    animation-duration: 2s;
    animation-iteration-count: 200;
  }
 

  @keyframes shape{
    0%,100%{ transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    35%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      opacity: .89;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
  

    





