
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
    background-color: #14141F;
    color: #ffff;
    font-size: 1.5rem;
}
:root{
    --primary_color: #343444;
    --grayLight_color : #ADADB0;
    --secondry_color: #9835FB;
    --blue_color: #5142fb;
    --orange_color: #d57d00;
    --green_color : #46a433;

}
html{
    font-size: 62.5%;
    font-family: "Urbanist", "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
      }

.containar{
    padding: 0 0px;
    width: 100%;
    height: auto;
    

    
}
button {
    cursor: pointer;
    font-family: inherit;
  }
.btn{
    background-color: transparent;
    border:0.2rem solid var(--blue_color);
    border-radius: 1.8rem;
    font-family: inherit;
    color: #ffff;
    padding : 1.3rem 1.8rem ;
    box-shadow: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
    outline: none ;
    box-sizing: border-box;
    
}
.btn:hover{
    
    border-color: var(--secondry_color);
    background-color: var(--primary_color) ;
    

}
.btn__profile{
    border-color: white;
    border-radius: 2.5rem;
    
}
.btn__social{
    background-color: var(--blue_color);
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.7rem 3rem 0.7rem 3rem  ;
    
}
.btn__social:hover{
  
}
.tests{
    background-color: red;
    background-color: solid 1rem linear-gradient( to right, rgba(50, 100, 245, 0.61) 2%, rgba(114, 2, 187, 0.6) 82% );
}

p{
    font-size: 1.7rem;
    
    color: var(--grayLight_color) ;
}
b{
    color: white;
}
