
.popular__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 9rem;
    font-size: 4rem;
    padding-left: 9rem;
}
.title__right{
    font-size: 2rem;
    color: white;
    padding-right: 3rem;
    text-decoration: underline var(--secondry_color) 3px;
    

}
.popular__items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    
   
    
}
.popular__item--stiky{
    display: flex;
    flex-direction: column;
}
.vertical-social {
    background: #14141F;
    display: flex;
    flex-direction: column;
    opacity: 0.2;
    position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
       
        margin-left: 30px;
        border-radius: 40px;
        padding: 30px 10px;
        z-index: 999;
        transition: 1s;
        display: -ms-flexbox;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0px 4px 13px 0 rgba(168, 67, 253, 0.3);
        overflow: hidden;
        border-bottom: 3px solid #a843fd;

    
        
  }
.vertical-social i{
    font-size: 1.5rem;
    padding-bottom: 3rem;
    color: white;


}
.vertical-social :hover{
   
}
.popular__item--stiky :hover{
    opacity: 100;
}
.popular__item{
   
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary_color);
    margin: 1rem; 
    object-fit: cover;
}
.popular__item--photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 0px;
    padding: 1rem;

    
}
.popular__item--photo :hover{
    transform: scale(1.1)
    

}
.popular__img1{
    width: 50%;
    height: auto;
    border-radius: 12px;
    padding: 0.5rem;
   
}
.popular__img2{
    width: 33%;
    height: auto;
    border-radius: 12px;
    padding: 0.5rem;
  
}
.popular__bottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-left: 1rem;
    position: relative;
    padding-top: 0.5rem;
}
.popular__bottom--image{
    position: relative;
}
.popular__bottom--image img{
    width: 70%;
    height: auto;
    border-radius: 21px; 
    padding-left: 0.5rem;
    padding-bottom: 00.5rem;
}

.popular__bottom--text{
    font-size: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    font-weight: 4rem;  
}
.popular__bottom--text span{
    color: var(--grayLight_color);
    font-size: 1.5rem;
}
.popular__heart.heart{
    position: absolute; 
    right:20px;
}
.check.small{
    position: absolute;
    padding: 0.3rem;  
    
    
     
}
