
.popular__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 9rem;
    font-size: 4rem;
    padding-left: 2rem;
}
.title__right{
    font-size: 2rem;
    color: white;
    padding-right: 3rem;
    text-decoration: underline var(--secondry_color) 3px;

}
.popular__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    
}
.popular__item{
    height: 376px;
    width: 439px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary_color);
    margin: 1rem; 
}
.popular__item--photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 0px;
    padding: 1rem;  
}
.popular__item--photo :hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.9) 0px 0px 0px 1px;

}
.popular__img1{
    height: 135px;
    width: 204px;
    border-radius: 12px;
    padding: 0.3rem;
}
.popular__img2{
    height: 135px;
    width: 136px; 
    border-radius: 12px;
    padding: 0.3rem;
}
.popular__bottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-left: 1rem;
    position: relative;
    padding-top: 0.5rem;
}
.popular__bottom--image{
    position: relative;
}
.popular__bottom--image img{
    height: 70px;
    width: 70px;
    border-radius: 21px; 
}

.popular__bottom--text{
    font-size: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    font-weight: 4rem;  
}
.popular__bottom--text span{
    color: var(--grayLight_color);
    font-size: 1.5rem;
}
.popular__heart.heart{
    position: absolute; 
}
.check.small{
    position: absolute;
    padding: 0.3rem;  
    top: 0.1rem;
     
}
