.seller{
    margin-top: 12rem;
    margin-bottom: 14rem;
   
}
.seller__title{
    font-size: 4rem;
    line-height: 8rem;
    padding-left: 2rem;  
    
}
.seller__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}
.seller__item{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 250px;
    height: 150px;
    line-height: 3rem;
    padding: 1rem;
    
}
.seller__img{
    position: relative;
    
}
.sell__image{
    height: 110px;
    width: 110px;
    border-radius: 4rem;
    padding: 0.5rem;
    
   
}
.sell__image:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.9) 0px 0px 0px 1px;
    transform: scale(1.2);
}
.seller__text{
    padding-top: 3rem;
    padding-left: 2rem;
    font-weight: 100px;
}
.seller__text:hover{
    transform: scale(1.5);
}
.seller__text span{
    color: var(--grayLight_color);
}

.check{
    color: white;
    padding: 0.5rem 0.6rem;
    position: absolute;
    border-radius: 50%;
    
    background-color: var(--blue_color);
    
    right: 2px;
    top: 78px;
}
.check:hover{
    box-shadow: white 0px 0px 0px 2px;
    
}
    