.seller{
    margin-top: 12rem;
    margin-bottom: 14rem;
    
   
}
.seller__title{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 8rem;
    padding-left: 6rem;
    padding-bottom: 2rem;  
    
}
.seller__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
  
    
}
.seller__item{
   
    display: grid;
    grid-template-columns: 1fr 1fr;   
    align-items: center;
    gap: 0.5rem;
    
}
.seller__img{
    position: relative;
    cursor: pointer;
    
    
}
.sell__image{
    border-radius: 4rem;
    width: 90%;
    height: auto;
}
.sell__image:hover{
    
    transform: scale(1.1);
    border-radius: 50%;
}
.seller__text{
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7rem;
}
.seller__text:hover{
    
}
.seller__text span{
    color: var(--grayLight_color);
}

.check{
    background-color: var(--blue_color);
    color: white;
    padding: 0.5rem ;
    font-size: 1rem;
    position: absolute;
    bottom: 12px;
    right: 9px;
    border-radius: 50%;

}.check:hover{
    color: var(--blue_color);
    background-color: white;
}

    