.login{
  
}

.login__main{
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto;
 
}
.login__left{
    background-image: url(img/login.jpg);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65rem;
    
}
.login__right{    
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    justify-content: stretch;
    align-items: center;
    background-color: #292f45;  
    font-size: 2rem; 
    gap: 1rem; 
   
}
.form{
    display: grid;
    grid-column: 2/7;
    justify-content: stretch;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    
   
   
}
.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
}

#email , #pass{
    background-color: #292f45;
    display: grid;
    grid-column: 2/7;
    padding: 1rem 23.7rem 1rem 1rem;
    border-radius: 0.5rem;
    border : 0.1rem solid rgb(134, 134, 134);
    
}
.btn__login.btn{
   border-radius: 0.5rem;
   margin-top: 3rem;
   margin-bottom: 2rem;



}
.btn__login.btn:active{
    background-color: var(--secondry_color);
}


.login__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.create{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.create > a{
    
    color:var(--secondry_color);
    text-decoration: none;
    
    
}

.login__line{
    display: flex;
    justify-content: space-between;
}
.icons {
    display: flex;
    justify-content: center;
  
}
.icons i{
    background-color: var(--secondry_color);
    color:white;
    padding: 1.2rem;
    font-size: 2.2rem;
    border-radius: 0.5rem;
    margin:0rem 0.5rem ;

    
    
}

.icons i:hover{
    color:#292f45;
    
    transition: all 6ms;
}

.goback {
    padding: 3rem;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    
}
.goback a{
    color: white;
    text-decoration: none;

}