.login{
   
}
.login__main{
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto
    
    
    
}
.login__left{
    display: grid;
    grid-template-columns: auto;


    background-image: url(img/login.jpg);
}
.login__right{
    
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    
   
    justify-content: stretch;

    align-items: center;
    background-color: #292f45;
    
    font-size: 2rem;
   
    
}
.form{
    display: grid;
    grid-column: 2/7;
   
    justify-content: stretch;
    
    gap: 2rem;
    align-items: center;
    
    
    font-size: 1.5rem;
   
   
}
.title{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
.email ,.pass{
    
   
   
}
#email , #pass{
    background-color: #292f45;
    display: grid;
    grid-column: 2/7;
    padding: 1rem 23.7rem 1rem 1rem;
    border-radius: 0.5rem;
    border : 0.1rem solid rgb(134, 134, 134);
    
}
.btn__sign{
    font-size: 1.2rem;
    background-color: #7367ef;
    font-size: 1.5rem;
    padding : 1rem ;
    
    color: white;
    border: none;
    border-radius: 0.5rem;
   
    outline: none ;
    cursor: pointer;


}
.btn__sign:hover{
    background-color: var(--secondry_color);
    border: 0.2rem solid red ;
    

}
.login__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.create{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.create > a{
    
    color:var(--secondry_color);
    text-decoration: none;
    
    
}
.hr{
    border: 2px solid red;
    width: 100px;

}
.icons a{
    background-color: var(--secondry_color);
    color:white;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;

}
.icons a:hover{
    color: var(--blue_color);
    background-color: transparent
}
