




.item__details{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 4rem;
    margin: 4rem;
    padding-top: 4rem;
 
}
.item__details--left{  
    display: grid;
    grid-template-columns: 1fr;
   

    
}
.item__details--img img{ 
   border-radius: 4rem;
   width: 100%;
   
}
.item__details--right{
   display: grid;
   grid-template-columns: 1fr ;
   gap: 1rem;
}
.item__details--title{
    font-size: 3rem;
    text-shadow: 1px 2px 2px var(--secondry_color);
    
    
}
.item__see{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    cursor: pointer;
   
}
.item__see--view{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}
.eye , .heart{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;   
    background-color: #030303;

}
.eye span , .heart span {
    padding: 0.3rem;
    
}
.item__see--icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  
}
.papar , .more{

    background-color: var(--primary_color);
    border-radius: 50%;
    padding: 1.5rem;
    cursor: pointer;
}
.icon{
   
}

.items__by{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 6rem;
   gap: 4rem;
  
   
   
}
.item__by--left , .item__by--right{
   display: flex;
   flex-direction: row;
   background-color: var(--primary_color);
   border-radius: 2rem;
   align-items: center;

 
   
}

.image__by{
    border-radius: 2rem;
    width: 20%;
    height: auto;
    padding: 0.5rem;
    
}
.create p{
    font-size: 1.5rem;
    padding-left: 1rem;
    
}
.more__text{
    display: flex;
    justify-content: center;
}
.more__text p{
   text-align: justify;
}

.item__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}
.card__current , .card__count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary_color);
    padding: 1.5rem;
    border-radius: 2rem;
    
}


.place{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
   
} 
.place .btn{  
    border-color: white;
    width: 100%;   
}
.tab{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem;
    overflow: auto;
   
    padding-right: 2rem;
    
}
::-webkit-scrollbar {
    width: 0.4rem;
  
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary_color) 
  }
  
.item_tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabHistory{
    display: grid;
    grid-template-columns: 1fr; 
}
.history1,.history2,.history3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.2rem solid #26263366 ; 
    align-items: center;
   
}
.photo__text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 
}
.photo__text img{
    width: 20%;
    height: auto;
    border-radius: 3rem;
    padding: 1rem;
    
}
.text{
 
    
}
.text , .price {
    
       
}
.tablinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 2rem;
}
ul li{
    list-style: none;
    display: inline;
  
    padding-left: 2rem;
    
}